.casestudy {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  align-items: center;
}
.casestudy img {
  width: 40%;
  padding-left: 50px;
}

.kolo {
  padding-left: 50px;
  padding-top: 70px;
}

.kolo p {
  /* background: red; */
  width: 70%;
}

@media (max-width: 768px) {
  .casestudy {
    margin: 0;
  }

  .casestudy img {
    display: none;
  }
}
