.footer {
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  background: rgb(210, 207, 207);
  padding: 50px;
}

.pp {
  text-align: center;
}

.mid {
  text-align: center;
  border: 1px solid black;
  width: fit-content;
  align-self: center;
  padding: 10px 20px;
}

.down {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.down ul > li {
  display: block;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .footer {
    margin: 0px;
    padding: 50px;
  }
}
@media (max-width: 426px) {
  /* .footer {
    padding: 0;
    margin: 0;
  } */

  .down {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -80px;
    text-align: center;
  }

  .down div {
    margin-left: 75px;
  }
}
