.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  /* background: red; */
  background: gray;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  padding: 50px;
}

.register h1 {
  font-size: 25px;
}

.register button {
  padding: 20px 40px;
  border-radius: 30px;
  border: none;
  width: 180px;
  font-size: 18px;
  font-weight: 700;
  background: black;
  color: white;
}

@media (max-width: 768px) {
  .register {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 426px) {
  .register {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }

  .register button {
    margin-top: 20px;
  }
}
